<%
var picture_url = user.picture_url;
if(picture_url == "") { picture_url = "http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png"; }
%>
<img class="avatar-image-small-circle" src="<%- picture_url %>">
<h1 class="avatar-name"><%= user.name %></h1>
<p class="avatar-title">Coming Soon</p>
