<script type="text/javascript">
$.datepicker.setDefaults({ dateFormat: 'yy-mm-dd' });
var children = JSON.parse('<%- JSON.stringify(data_u) %>');
var elements = getAllElementsClassNameByStartOfName('teacherUUID_', 'span');
if(elements.length) {
  for(var i=0; i < elements.length; i++) {
    id = elements[i];
  	getData(getUrl() + "/api/get_user_data/" + id.replace("teacherUUID_", ""), function(response) {
      if(response.name) {
          $("." + id).text(response.name);
      } else {
        $("." + id).text("N/A");
      }
    });
  }
}


$('#bookappointmentbutton').click(function() {
  openBooking();
});

</script>
