
<script type="text/javascript">

var profile = JSON.parse('<%- profile_data %>');
var reports = JSON.parse('<%- reports_data %>');
var children = JSON.parse('<%- JSON.stringify(data_u) %>');
if(reports.length) {
  $('.grade_box_subject').each(function(i, element) {
    report = reports[i];
    getData(getUrl() + '/api/get_class_by_uuid/' + report.class, function(class_data) {
      if(!class_data.response) {
        $(element).text(class_data.subject);
      }
    });
  });
}

$('.tutor_group').each(function(i, element) {
  report = reports[i];
  getData(getUrl() + '/api/get_class_by_uuid/' + profile.tutor_group, function(class_data) {
    if(!class_data.response) {
      $(element).text(class_data.name);
    }
  });
});

</script>
